.Auth {
    background-color: #1C1917;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.authGrid {
    background-color: #292524;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 615px;
    border-radius: 25px;
    width: 1150px;
    margin: 50px 50px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
}

.authGrid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.authGrid form {
    display: flex;
    align-items: center;
    padding: 50px 65px;
}

.authGrid form h1 {
    color: white;
    text-align: center;
    font-weight: 800;
    margin-bottom: 22px;
    font-size: 30px;
}

.formBlock {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    width: 100%;
}

.formBlock.createForm {
    background-color: #292524;
    padding: 40px;
    border-radius: 25px;
    max-width: 700px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}

.formBlock.createForm h2 {
    margin-bottom: 22px;
}

.inputBox,
.enterBtn {
    background: #44403C;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.05);
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
}

.enterBtn {
    background-color: #A3E635;
    color: black;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

    &:hover {
        background-color: #84CC16;
    }
}

.enterBtn.reset {
    color: #FEF2F2;
    background: #B91C1C;

    &:hover {
        background-color: #991B1B;
    }
}

.btnFlex {
    display: flex;
    gap: 12.5px;
}

.inputBox input {
    color: white;
    background: none;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    width: 100%;
}

.inputBox:focus-within {
    border: 2px solid #A8A29E;
}

.inputBox input::placeholder {
    color: #A8A29E
}

.inputBox i,
.enterBtn i {
    color: #A8A29E;
    font-size: 23px;
}

.authLink {
    color: #A8A29E;
    display: block;
    padding-top: 22px;
    font-size: 15px;
    font-weight: 600;
}

.error {
    background: #FECACA;
    color: #B91C1C;
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 1.3em;
    gap: 15px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.05);
    padding: 16px 18px;
    border-radius: 11px;
    font-size: 15px;
}

.error i {
    font-size: 23px;
}

.error.errorNone {
    display: none;
}

@media(max-width: 1000px) {
    .authGrid {
        grid-template-columns: initial;
        grid-template-rows: initial;
        width: 700px;
        margin: 80px 50px;
    }

    .authGrid img {
        display: none;
    }

    .authGrid form {
        padding: 65px 40px;
    }
}

@media(max-width: 600px) {
    .authGrid form {
        padding: 65px 30px;
    }

    .formBlock.createForm {
        padding: 40px 30px;
    }

    .authGrid {
        margin: 80px 30px;
    }

    .authGrid form h1 {
        font-size: 25px;
    }

    .btnFlex {
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width: 450px) {
    .authGrid form {
        padding: 65px 25px;
    }

    .formBlock.createForm {
        padding: 40px 25px;
    }

    .authGrid {
        margin: 80px 25px;
    }
}