nav {
    display: flex;
    align-items: center;
    margin: auto;
    height: 116px;
    max-width: 1250px;
    gap: 50px;
}

aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.drop-down {
    position: relative;
}

.drop {
    position: absolute;
    outline: none;
    border: none;
    pointer-events: none;
    opacity: 0;
    bottom: -70px;
    left: 0%;

    &:hover {
        background-color: #44403C;
    }
}

.drop.show {
    pointer-events: all;
    opacity: 1;
    bottom: -62.5px;
}

aside ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 37.5px;
}

aside a {
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    gap: 10px;
}

#nav-i {
    display: none;
}

.username,
.drop {
    background-color: #292524;
    color: white;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 15px;
    gap: 15px;
    font-size: 15px;
    font-weight: 550;

    &:hover {
        background-color: #44403C;
    }
}

.bx-grid-alt {
    display: none;
}

.enterBtn.navBtn i {
    color: black;
}

#rotate {
    transform: rotate(-180deg);
}

.asidePop {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0px);
}

@media(max-width: 1000px) {
    aside {
        background: #292524;
        position: fixed;
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
        overflow: auto;
        pointer-events: none;
        transform: translateX(-25px);
        opacity: 0;
        box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 350px;
        z-index: 3;
        padding: 13px 0px;
    }

    aside a {
        font-weight: 500;
        padding: 12px 30px;
        gap: 18px;

        &:hover {
            background-color: #44403C;
        }
    }

    .enterBtn.navBtn {
        color: white;
        background: none;
        justify-content: initial;
        border: none;
        border-radius: initial;
        box-shadow: none;
        padding: 12px 30px;
        font-weight: 500;
        gap: 18px;

        &:hover {
            background-color: #44403C;
        }
    }

    aside ul {
        flex-direction: column;
        align-items: initial;
        gap: initial;
    }

    #nav-i,
    .enterBtn.navBtn i {
        color: white;
        display: initial;
        font-size: 23px;
    }

    nav {
        justify-content: space-between;
    }

    .bx-grid-alt {
        display: block;
    }
}

@media(max-width: 600px) {
    nav {
        height: 110px;
    }
}